.waitlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 32px;
    }

    p {
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .waitlist {
        h1 {
            font-size: 20px;
        }

    }

}