
$color-background: hsl(231, 57%, 7%);
$color-white: hsla(215, 27%, 95%, 1);
$color-sky-blue: hsl(193, 100%, 59%);
$color-purple:  hsl(272, 100%, 79%);
$color-gray: hsla(235, 22%, 57%, 1);

$color-gradient-purple: linear-gradient(180deg, #1c0547 0%, #4c1ea2 100%);
$color-gradient-4purple: linear-gradient(91.23deg, hsl(264, 100%, 70%) 0%,hsl(270, 63%, 81%) 36.98%,hsla(46, 100%, 94%, 0.5) 63.02%,hsl(258, 74%, 58%) 100%);
$color-gradient-black: linear-gradient(90deg, hsl(230, 56%, 11%) 0%, rgba(0, 0, 0, 0) 100%);

