@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Saira:wght@400;600&display=swap');

$font-primary: 'Saira', sans-serif;
$font-secondary: 'Inter', sans-serif;

$font-weight-light: 400;
$font-weight-bold: 600;