form {
    input[type="text"],
    input[type="password"] {
        width: 300px;
        height: 38px;
        border-radius: 10px;

        border: 2px solid $color-sky-blue;
        color: $color-sky-blue;

        padding-left: 10px;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: transparent;

        &:focus {
            outline: none;
        }
    }

    textarea {
        width: 300px;
        height: 104px;
        border-radius: 10px;

        border: 2px solid $color-sky-blue;
        color: $color-sky-blue;

        padding-left: 10px;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        background: transparent;

        &:focus {
            outline: none;
        }
    }

    

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;

        border: 2px solid $color-sky-blue;
        background: transparent;

        &:focus {
            outline: none;
        }
    }

    label {
        color: $color-gray;
        margin-top: 10px;
        padding: 3px 5px;
    }

    .error {
        border: 1px solid red;
        background: rgba(255, 0, 0, 0.2);
    }

    button[type="submit"] {
        width: 100px;
        height: 40px;
        border-radius: 10px;

        color: $color-sky-blue;
        background: transparent;
        border: 2px solid $color-sky-blue;

        font-size: 16px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}

@media (max-width: 1100px) {

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button[type="submit"] {
            width: 80vw;
            max-width: 300px;
            order: 3;
            margin: 0px;
            margin-top: 20px;
        }

        input[type="text"] {
            width: 80vw;
            max-width: 300px;
            order: 1;
            margin: 0px;
            
        }

        .gdpr {
            order: 2;
        }
    }

}