.main {
    position: absolute;
    left: 257px;
    min-height: 100vh;
    width: calc(100vw - 257px);

    background-color: $color-background;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .container {
        padding: 30px;

        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: stretch;
    }
}

@media only screen and (max-width: 1100px) {
    .main {
        position: relative;
        left: 0px;
        width: 100vw;

        .container {
            padding: 10px;
        }
    }
}