$sidebar-width: 257px;

.sidebar {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    min-height: 100vh;
    left: 0px;
    top: 0px;
    background: $color-gradient-purple;

    font-family: $font-secondary;

    display: flex;
    flex-direction: column;

    
    .top {
        padding-top: 20px;

        flex: 1 1;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: stretch;

        .title {
            font-weight: $font-weight-bold;
        }

        .thin {
            font-family: $font-primary;
            font-weight: $font-weight-light;
        }

        a, span {
            margin-left: 29px;
            margin-bottom: 12px;
            font-size: 14px;
        }

        img.hr {
            height: 2px;
            width: 100%;
            margin: 29px 0px;
        }

        .disabled {
            color: $color-gray;
            cursor: not-allowed;
        }

        .btn-new {
            font-size: 10px;
            border: 1px solid $color-sky-blue;
            color: $color-sky-blue;
            border-radius: 26px;
            text-align: center;
            padding: 1px 5px;

        }
    }

    .bottom {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        img {
            width: 149px;
            height: 22px;
            margin-bottom: 20px;
        }

        .copyright {
            margin: 0px;
            font-size: 12px;
            background: $color-gradient-black;
            padding: 10px 0px;
            text-align: center;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .sidebar {
        left: -300px;
        z-index: 100;
        height: 100vh;
        overflow-x:hidden ;
        transition: left .5s ease-in-out;
    }

    .sidebar-show {
        left: 0px;
        transition: left .5s ease-in-out;
    }

}