@use 'sass:color';


.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // display: block;
    // margin: -30px;
    // padding: 0px;

    h1 {
        font-family: $font-primary;
        font-weight: $font-weight-bold;
        font-size: 64px;
        line-height: 134.9%;
        width: 827px;
        text-align: center;
        text-transform: uppercase;  

        .highlight {
            color: $color-sky-blue;
        }

        
    }

    .video {
        top: 0px;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;

        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        #ytplayer {
            width: 100%;
            height: 100%;
            aspect-ratio: "auto";
            border: 0px;
        }
    }

    .caption {
        z-index: 2;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // background-color: rgba(
        //     red($color-background),
        //     green($color-background),
        //     blue($color-background),
        //     0.90
        // );

    }

    .cta {
        width: 450px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn {
            padding: 5px 30px;
            border-radius: 10px;
            background: transparent;
        }

        .btn-primary {
            color: $color-purple;
            border: 2px solid $color-purple;
        }

        .btn-secondary {
            border: 2px solid white;
            color: $color-sky-blue;
            border-color: $color-sky-blue;
        }
    }

    .bottom {
        position: absolute;
        bottom: 20px;
        right: 20px;

        * {
            margin: 0px 10px;
        }
    }
}

/* if screen is smaller than 1100px 
    - .hero h1 font-size: 20px
*/

@media only screen and (max-width: 1100px) {
    .hero {
        h1 {
            font-size: 30px;
            width: 80%;
        }

        .cta {
            flex-direction: column;
            align-items: center;
            padding-top: 20px;

            .btn {
                margin-bottom: 20px;
                max-width: 200px;
            }
        }
    }
}


