.blog-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    align-self: center;
    
    max-width: 800px;

    .image {
        height: 400px;
        background-color: $color-gray;
        margin-bottom: 10px;
        align-self: center;
    }
}